@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
    --white: #FFFFFF;
    --black-700: #2C2E30;
    --black-100: #6F7479;
    --aluminium-100: #F0F1F1;
    --aluminium-200: #E2E3E4;
    --aluminium-800: #8B8F93;
    --turquoise-400: #32A3AA;
    --green-400: #329564;
}

body{
   background-color: var(--white);

   .white-100{
        color: var(--white);
   }
   .black-700{
        color: var(--black-700);
   }
   .black-100{
        color: var(--black-100);
   }
   .aluminium-100{
        background-color: var(--aluminium-100);
   }
   .green-400{
        background-color: var(--green-400);
   }
   .turquoise-400{
        color: var(--turquoise-400);
   }
   .pagination:hover{
        background-color: var(--turquoise-400);
        color: var(--white);
   }
   .pagination-active{
        background-color: var(--turquoise-400);
        color: var(--white);
   }
    
}

/* xs */
@media (min-width: 0px){
    .text-xs{
        font-size: 12px;
    }
    .text-sm{
        font-size: 14px;
    }
    .text-lg{
        font-size: 18px;
    }
    .bi-arrow-left{
        width: 20px;
        height: 20px;
    }
 }

/* sm */
@media (min-width: 575.98px){
    .text-xs{
        font-size: 16px;
    }
    .text-sm{
        font-size: 20px;
    }
    .text-lg{
        font-size: 28px;
    }
    .bi-arrow-left{
        width: 28px;
        height: 28px;
    }
 }